# Ch. 3 Exercises

In [1]:
import pandas as pd

1. We want to look at data for the Facebook, Apple, Amazon, Netflix, and Google (FAANG) stocks, but we were given each as a separate CSV file (obtained using the `stock_analysis` package we will build in *Chapter 7, Financial Analysis â€“ Bitcoin and the Stock Market*). Combine them into a single file and store the dataframe of the FAANG data as faang for the rest of the exercises:
    1. Read in the `aapl.csv`, `amzn.csv`, `fb.csv`, `goog.csv`, and `nflx.csv` files.
    2. Add a column to each dataframe, called `ticker`, indicating the ticker symbol it is for (Apple's is AAPL, for example); this is how you look up a stock. In this case, the filenames happen to be the ticker symbols.
    3. Append them together into a single dataframe.
    4. Save the result in a CSV file called `faang.csv`.

In [5]:
tickers = ['aapl', 'amzn', 'fb', 'goog', 'nflx']
stocks = []
for ticker in tickers:
    path = f"./exercises/{ticker}.csv"
    stock = pd.read_csv(path)
    stock['ticker'] = ticker.upper()
    stocks.append(stock)
faang = pd.concat(stocks)

         date       high        low       open      close       volume ticker
0  2018-01-02  43.075001  42.314999  42.540001  43.064999  102223600.0   AAPL
1  2018-01-03  43.637501  42.990002  43.132500  43.057499  118071600.0   AAPL
2  2018-01-04  43.367500  43.020000  43.134998  43.257500   89738400.0   AAPL
3  2018-01-05  43.842499  43.262501  43.360001  43.750000   94640000.0   AAPL
4  2018-01-08  43.902500  43.482498  43.587502  43.587502   82271200.0   AAPL

In [6]:
faang.to_csv('./exercises/faang.csv')

2. With `faang`, use type conversion to cast the values of the `date` column into datetimes and the `volume` column into integers. Then, sort by `date` and `ticker`.

In [8]:
faang_p2 = faang.assign(
    date = lambda x: pd.to_datetime(x.date),
    volume = lambda x: x.volume.astype('int')).sort_values(by=['date', 'ticker'])

3. Find the seven rows in `faang` with the lowest value for volume.

In [11]:
faang_p2.nsmallest(7, columns = 'volume')

,date,high,low,open,close,volume,ticker
126,2018-07-03,1135.819946,1100.020020,1135.819946,1102.890015,679000,GOOG
226,2018-11-23,1037.589966,1022.398987,1030.000000,1023.880005,691500,GOOG
99,2018-05-24,1080.469971,1066.150024,1079.000000,1079.239990,766800,GOOG
130,2018-07-10,1159.589966,1149.589966,1156.979980,1152.839966,798400,GOOG
152,2018-08-09,1255.541992,1246.010010,1249.900024,1249.099976,848600,GOOG
159,2018-08-20,1211.000000,1194.625977,1205.020020,1207.770020,870800,GOOG
161,2018-08-22,1211.839966,1199.000000,1200.000000,1207.329956,887400,GOOG

4. Right now, the data is somewhere between long and wide format. Use `melt()` to make it completely long format. Hint: `date` and `ticker` are our ID variables (they uniquely identify each row). We need to melt the rest so that we don't have separate columns for `open`, `high`, `low`, `close`, and `volume`.

In [12]:
faang_melt = faang_p2.melt(id_vars = ['date', 'ticker'], value_vars=['open', 'high', 'low', 'close', 'volume'])

In [13]:
faang_melt.head()

        date ticker variable        value
0 2018-01-02   AAPL     open    42.540001
1 2018-01-02   AMZN     open  1172.000000
2 2018-01-02     FB     open   177.679993
3 2018-01-02   GOOG     open  1048.339966
4 2018-01-02   NFLX     open   196.100006

5. Suppose we found out that on July 26, 2018 there was a glitch in how the data was recorded. How should we handle this? Note that there is no coding required for this exercise.

Investigate the data on the specific date to ensure that the data is of the same type as the rest of the data. If the data type is incorrect, NaN's are present, or values are significantly different, then investigate the source to see if the values are correct.

6. The **European Centre for Disease Prevention and Control (ECDC)** provides an open dataset on COVID-19 cases called *daily number of new reported cases of COVID-19 by country worldwide* (https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographicdistribution-covid-19-cases-worldwide). This dataset is updated daily, but we will use a snapshot that contains data from January 1, 2020 through September 18, 2020. Clean and pivot the data so that it is in wide format:
   1. Read in the `covid19_cases.csv` file.
   2. Create a `date` column using the data in the `dateRep` column and the `pd.to_datetime()` function.
   3. Set the `date` column as the index and sort the index.
   4. Replace all occurrences of `United_States_of_America` and `United_Kingdom` with `USA` and `UK`, respectively. Hint: the `replace()` method can be run on the dataframe as a whole.
   5. Using the `countriesAndTerritories` column, filter the cleaned COVID-19 cases data down to Argentina, Brazil, China, Colombia, India, Italy, Mexico, Peru, Russia, Spain, Turkey, the UK, and the USA.
   6. Pivot the data so that the index contains the dates, the columns contain the country names, and the values are the case counts (the `cases` column). Be sure to fill in `NaN` values with 0.

In [40]:
covid = pd.read_csv('./exercises/covid19_cases.csv').assign(
    date = lambda x: pd.to_datetime(x.dateRep)).set_index('date').sort_index().replace({'United_States_of_America':'USA', 'United_Kingdom':'UK'})
covid[covid.countriesAndTerritories.isin(['Argentina', 'Brazil', 'China', 'Colombia','India','Italy','Mexico','Peru','Russia', 'Spain', 'Turkey', 'UK', 'USA'])].pivot(columns = 'countriesAndTerritories', values = 'cases').fillna(0)

countriesAndTerritories,Argentina,Brazil,China,Colombia,India,Italy,Mexico,Peru,Russia,Spain,Turkey,UK,USA
date,,,,,,,,,,,,,
2020-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2020-01-02,0.0,0.0,2095.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,2.0,1.0
2020-01-03,0.0,1.0,574.0,0.0,0.0,240.0,2.0,0.0,0.0,28.0,0.0,12.0,3.0
2020-01-04,0.0,1138.0,54.0,108.0,146.0,4053.0,121.0,115.0,501.0,7413.0,2704.0,4273.0,24998.0
2020-01-05,143.0,7218.0,12.0,296.0,1993.0,1872.0,1425.0,3045.0,7099.0,1387.0,2615.0,5442.0,29917.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-05,245.0,5632.0,1.0,550.0,3604.0,744.0,1305.0,1515.0,11656.0,482.0,1114.0,2329.0,18117.0
2020-12-06,1373.0,30412.0,7.0,0.0,10956.0,379.0,4790.0,5965.0,8779.0,502.0,987.0,1199.0,22883.0
2020-12-07,3367.0,39023.0,35.0,4586.0,28637.0,188.0,6094.0,3064.0,6611.0,0.0,1016.0,565.0,63051.0
2020-12-08,7369.0,52160.0,58.0,12830.0,60963.0,412.0,6686.0,6547.0,4945.0,3172.0,1183.0,1148.0,46813.0
2020-12-09,11905.0,43718.0,18.0,7424.0,97570.0,1616.0,5935.0,6603.0,5504.0,0.0,1671.0,3539.0,48061.0

7. In order to determine the case totals per country efficiently, we need the aggregation skills we will learn about in *Chapter 4, Aggregating Pandas DataFrames*, so the ECDC data in the `covid19_cases.csv` file has been aggregated for us and saved in the `covid19_total_cases.csv` file. It contains the total number of cases per country. Use this data to find the 20 countries with the largest COVID-19 case totals. Hints: when reading in the CSV file, pass in `index_col='cases'`, and note that it will be helpful to transpose the data before isolating the countries.

In [43]:
pd.read_csv('./exercises/covid19_total_cases.csv', index_col = 'index').T.nlargest(n = 20, columns = 'cases')

index           cases
USA           6724667
India         5308014
Brazil        4495183
Russia        1091186
Peru           756412
Colombia       750471
Mexico         688954
South_Africa   657627
Spain          640040
Argentina      601700
Chile          442827
France         428696
Iran           416198
UK             385936
Bangladesh     345805
Saudi_Arabia   328720
Iraq           311690
Pakistan       305031
Turkey         299810
Italy          294932