## Chapter 2 exercises

In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv('./data/earthquakes.csv')
df.head()

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,...,",ci,",automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...
3,NaN,NaN,37389186,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.026180,NaN,39.0,",ci37389186,",0.44,ml,...,",ci,",automatic,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475196167,https://earthquake.usgs.gov/earthquakes/eventp...
4,NaN,NaN,73096941,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.077990,NaN,192.0,",nc73096941,",2.16,md,...,",nc,",automatic,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539477547926,https://earthquake.usgs.gov/earthquakes/eventp...

1. Find the 95th percentile of earthquake magnitude in Japan using the `mb` magnitude type.

In [9]:
df.columns

Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url'],
      dtype='object')

In [28]:
df_japan_mb = df.loc[(df.magType == 'mb') & (df.place.str.contains('Japan')), ['place', 'mag', 'magType']]
df_japan_mb.describe(percentiles =[0.95])
df_japan_mb.mag.quantile(0.95)

4.9

In [101]:
df[(df.magType == 'mb') & (df.place.str.contains('Japan'))].mag.quantile(0.95)

4.9

2. Find the percentage of earthquakes in Indonesia that were coupled with tsunamis.

In [54]:
df_ind = df[df.place.str.contains('Indonesia')]
tsunami_count = sum(df_ind.tsunami)
print('{0:0.2f}%'.format(100*tsunami_count / df_ind.shape[0]))

23.13%

In [109]:
f"{df[df.place.str.contains('Indonesia')].tsunami.value_counts(normalize=True).iloc[1,]:.2%}"

'23.13%'

3. Calculate summary statistics for earthquakes in Nevada.

In [74]:
df_nv = df[(df.place.str.endswith('NV')) | (df.place.str.endswith('Nevada'))]
df_nv.describe(include='all')

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
count,0,15.000000,681,681,681.000000,15.000000,681.000000,681,681.000000,681,...,681,681,6.810000e+02,681,681.0,681,681,681.0,6.810000e+02,681
unique,0,NaN,681,681,NaN,NaN,NaN,681,NaN,2,...,6,2,NaN,630,NaN,3,7,NaN,NaN,681
top,NaN,NaN,00660302,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,",nn00659890,",NaN,ml,...,",nn,",reviewed,NaN,"M -0.3 - 55km ENE of Beatty, Nevada",NaN,earthquake,",geoserve,origin,phase-data,",NaN,NaN,https://earthquake.usgs.gov/earthquakes/eventp...
freq,NaN,NaN,1,1,NaN,NaN,NaN,1,NaN,680,...,673,675,NaN,4,NaN,647,651,NaN,NaN,1
mean,NaN,2.440000,NaN,NaN,0.166199,2.400000,153.668120,NaN,0.500073,NaN,...,NaN,NaN,1.538314e+12,NaN,0.0,NaN,NaN,-480.0,1.538402e+12,NaN
std,NaN,0.501142,NaN,NaN,0.166228,4.626013,68.735302,NaN,0.696710,NaN,...,NaN,NaN,5.965637e+08,NaN,0.0,NaN,NaN,0.0,6.010951e+08,NaN
min,NaN,2.000000,NaN,NaN,0.001000,1.000000,29.140000,NaN,-0.500000,NaN,...,NaN,NaN,1.537247e+12,NaN,0.0,NaN,NaN,-480.0,1.537307e+12,NaN
25%,NaN,2.000000,NaN,NaN,0.053000,1.000000,97.380000,NaN,-0.100000,NaN,...,NaN,NaN,1.537854e+12,NaN,0.0,NaN,NaN,-480.0,1.537928e+12,NaN
50%,NaN,2.200000,NaN,NaN,0.112000,1.000000,149.140000,NaN,0.400000,NaN,...,NaN,NaN,1.538280e+12,NaN,0.0,NaN,NaN,-480.0,1.538428e+12,NaN
75%,NaN,2.900000,NaN,NaN,0.233000,1.000000,199.720000,NaN,0.900000,NaN,...,NaN,NaN,1.538821e+12,NaN,0.0,NaN,NaN,-480.0,1.538878e+12,NaN
max,NaN,3.300000,NaN,NaN,1.414000,19.000000,355.910000,NaN,2.900000,NaN,...,NaN,NaN,1.539461e+12,NaN,0.0,NaN,NaN,-480.0,1.539483e+12,NaN

In [110]:
df[(df.place.str.endswith('NV')) | (df.place.str.endswith('Nevada'))].describe(include='all')

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
count,0,15.000000,681,681,681.000000,15.000000,681.000000,681,681.000000,681,...,681,681,6.810000e+02,681,681.0,681,681,681.0,6.810000e+02,681
unique,0,NaN,681,681,NaN,NaN,NaN,681,NaN,2,...,6,2,NaN,630,NaN,3,7,NaN,NaN,681
top,NaN,NaN,00660302,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,",nn00659890,",NaN,ml,...,",nn,",reviewed,NaN,"M -0.3 - 55km ENE of Beatty, Nevada",NaN,earthquake,",geoserve,origin,phase-data,",NaN,NaN,https://earthquake.usgs.gov/earthquakes/eventp...
freq,NaN,NaN,1,1,NaN,NaN,NaN,1,NaN,680,...,673,675,NaN,4,NaN,647,651,NaN,NaN,1
mean,NaN,2.440000,NaN,NaN,0.166199,2.400000,153.668120,NaN,0.500073,NaN,...,NaN,NaN,1.538314e+12,NaN,0.0,NaN,NaN,-480.0,1.538402e+12,NaN
std,NaN,0.501142,NaN,NaN,0.166228,4.626013,68.735302,NaN,0.696710,NaN,...,NaN,NaN,5.965637e+08,NaN,0.0,NaN,NaN,0.0,6.010951e+08,NaN
min,NaN,2.000000,NaN,NaN,0.001000,1.000000,29.140000,NaN,-0.500000,NaN,...,NaN,NaN,1.537247e+12,NaN,0.0,NaN,NaN,-480.0,1.537307e+12,NaN
25%,NaN,2.000000,NaN,NaN,0.053000,1.000000,97.380000,NaN,-0.100000,NaN,...,NaN,NaN,1.537854e+12,NaN,0.0,NaN,NaN,-480.0,1.537928e+12,NaN
50%,NaN,2.200000,NaN,NaN,0.112000,1.000000,149.140000,NaN,0.400000,NaN,...,NaN,NaN,1.538280e+12,NaN,0.0,NaN,NaN,-480.0,1.538428e+12,NaN
75%,NaN,2.900000,NaN,NaN,0.233000,1.000000,199.720000,NaN,0.900000,NaN,...,NaN,NaN,1.538821e+12,NaN,0.0,NaN,NaN,-480.0,1.538878e+12,NaN
max,NaN,3.300000,NaN,NaN,1.414000,19.000000,355.910000,NaN,2.900000,NaN,...,NaN,NaN,1.539461e+12,NaN,0.0,NaN,NaN,-480.0,1.539483e+12,NaN

4. Add a column indicating whether the earthquake happened in a country or US state that is on the Ring of Fire. Use Alaska, Antarctica (look for Antarctic), Bolivia, California, Canada, Chile, Costa Rica, Ecuador, Fiji, Guatemala, Indonesia, Japan, Kermadec Islands, Mexico (be careful not to select New Mexico), New Zealand, Peru, Philippines, Russia, Taiwan, Tonga, and Washington.

In [80]:
df_parsed = pd.read_csv('./data/parsed.csv')
df_parsed.columns

Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url', 'parsed_place'],
      dtype='object')

In [94]:
rof = ['Alaska', 'Antarctic', 'Bolivia', 'California', 'Canada', 'Chile', 'Costa Rica', 'Ecuador', 'Fiji', 'Guatemala', 'Indonesia', 'Japan', 'Kermadec Islands', 'Mexico', 'New Zealand', 'Peru', 'Philippines', 'Russia', 'Taiwan', 'Tonga', 'Washington']
df_parsed['ring_of_fire'] = df_parsed.parsed_place.str.contains('|'.join(rof)) & ~df_parsed.parsed_place.str.contains('New Mexico')
df_parsed.sample(5, random_state=0)
#df_parsed.parsed_place[df_parsed.parsed_place.str.contains('|'.join(rof)) & ~df_parsed.parsed_place.str.contains('New Mexico')].unique()
#df_parsed.parsed_place[df_parsed.parsed_place.str.contains('Mexico') & ~df_parsed.parsed_place.str.contains('New Mexico')]
#df_parsed.parsed_place[df_parsed.parsed_place.str.contains('CA')]

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,time,title,tsunami,type,types,tz,updated,url,parsed_place,ring_of_fire
7207,NaN,NaN,2000hj64,https://earthquake.usgs.gov/fdsnws/event/1/que...,1.29800,NaN,80.0,",us2000hj64,",4.80,mwr,...,1537749595210,"M 4.8 - 73km SSW of Masachapa, Nicaragua",0,earthquake,",geoserve,moment-tensor,origin,phase-data,",-360.0,1539400902040,https://earthquake.usgs.gov/earthquakes/eventp...,Nicaragua,False
4755,NaN,NaN,61424302,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.02342,NaN,89.0,",uw61424302,",1.09,ml,...,1538227540460,"M 1.1 - 28km NNW of Packwood, Washington",0,earthquake,",geoserve,origin,phase-data,",-480.0,1538446772590,https://earthquake.usgs.gov/earthquakes/eventp...,Washington,True
4595,NaN,NaN,20267171,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,",ak20267171,",1.80,ml,...,1538259609862,"M 1.8 - 77km SSW of Kaktovik, Alaska",0,earthquake,",geoserve,origin,phase-data,",-540.0,1539067248080,https://earthquake.usgs.gov/earthquakes/eventp...,Alaska,True
3566,NaN,NaN,20268839,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,",ak20268839,",1.50,ml,...,1538464751822,"M 1.5 - 102km NW of Arctic Village, Alaska",0,earthquake,",geoserve,origin,phase-data,",-540.0,1539390064104,https://earthquake.usgs.gov/earthquakes/eventp...,Alaska,True
2182,NaN,NaN,38316584,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.13390,NaN,128.0,",ci38316584,",0.90,ml,...,1538801713880,"M 0.9 - 26km ENE of Pine Valley, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539109448181,https://earthquake.usgs.gov/earthquakes/eventp...,California,True

5. Calculate the number of earthquakes in the Ring of Fire locations and the number outside of them.

In [97]:
len(df_parsed[df_parsed.ring_of_fire])

7188

In [98]:
len(df_parsed[~df_parsed.ring_of_fire])

2144

In [111]:
df_parsed.ring_of_fire.value_counts()

True     7188
False    2144
Name: ring_of_fire, dtype: int64

6. Find the tsunami count along the Ring of Fire.

In [99]:
df_parsed.tsunami[df_parsed.ring_of_fire].sum()

45